//colors
//dark mode
$grey: grey;
$dark-grey: #202020;
$darker-grey: #181818;
$light-grey: #E6E6E6;

//light mode
$white: white;
$off-white: #f2f2f2;

//basic colors
$youtube-red: #ff0000;
$poppin-blue: #4285F4;